# Making Bronze Datasets

In [2]:
import os
import zipfile
import pandas as pd

### Extraindo os zips

In [2]:
dir_list = os.listdir( "data" )


# for _dir in dir_list:
#     if '.ipynb' not in _dir:
#         file_list = os.listdir( _dir )
#         for file in file_list:
#             if '.zip' in file:
#                 try:
#                     with zipfile.ZipFile( f"{_dir}/{file}" ) as my_zip:
#                         my_zip.extractall( _dir )
#                 except Exception as ex:
#                     print( f"Erro com o arquivo {file}: {ex}" )
#                     f_size = os.path.getsize( f"{_dir}/{file}" )
#                     print( f"Tamanho do arquivo {file}: {f_size} bytes" )
#                     pass

### Criando os datasets

In [15]:
def datasets_generation():  
    
    dir_list = os.listdir( "data" )

    for _dir in dir_list:
        str_output = ""
        str_aux = ""
        if '.ipynb' not in _dir:
            print( f"Dirtetorio: {_dir}" )
            file_list = os.listdir( f"data/{_dir}" )
            for file in file_list:
                if '.csv' in file and 'data' not in file and '.ipynb' not in file:
                    try:
                        with open ( f"data/{_dir}/{file}", "r" ) as csv_file:
                            str_output += csv_file.read()
                        
                        file_list.pop( file_list.index( file ) )
                    except Exception as ex:
                        print( f"Erro ao processar o arquivo {file}: {ex}")
        
        with open ( f"data/{_dir}/data_set.csv", "w" ) as csv_file:
            print( "len out_put:", len( str_output.split( '\n') ) )
            csv_file.write( str_output )       

datasets_generation()

Dirtetorio: DOGEUSDT-2h
len out_put: 396925
len out_put: 1
Dirtetorio: BTCUSDT-1d
len out_put: 1646
Dirtetorio: BTCUSDT-1m
len out_put: 436321
Dirtetorio: BTCUSDT-2h
len out_put: 11692
Dirtetorio: BTCUSDT-5m
len out_put: 193052
Dirtetorio: BUSDUSDT-1d
len out_put: 1108
Dirtetorio: BUSDUSDT-1m
len out_put: 436321
Dirtetorio: BUSDUSDT-2h
len out_put: 12028
Dirtetorio: BUSDUSDT-5m
len out_put: 192188
Dirtetorio: DOGEUSDT-1d
len out_put: 1185
Dirtetorio: DOGEUSDT-1m
len out_put: 480961
Dirtetorio: DOGEUSDT-5m
len out_put: 192188
Dirtetorio: ETCUSDT-1d
len out_put: 1514
Dirtetorio: ETCUSDT-1m
len out_put: 437761
Dirtetorio: ETCUSDT-2h
len out_put: 12436
Dirtetorio: ETCUSDT-5m
len out_put: 193052
Dirtetorio: ETHUSDT-1d
len out_put: 1676
Dirtetorio: ETHUSDT-1m
len out_put: 480961
Dirtetorio: ETHUSDT-2h
len out_put: 2505
Dirtetorio: ETHUSDT-5m
len out_put: 192188
Dirtetorio: LTCUSDT-1d
len out_put: 1615
Dirtetorio: LTCUSDT-1m
len out_put: 480961
Dirtetorio: LTCUSDT-2h
len out_put: 12028
Dirtetorio: LTCUSDT-5m
len out_put: 192188
Dirtetorio: MANAUSDT-1d
len out_put: 817
Dirtetorio: MANAUSDT-1m
len out_put: 480961
Dirtetorio: MANAUSDT-2h
len out_put: 9411
Dirtetorio: MANAUSDT-5m
len out_put: 192188
Dirtetorio: XMRUSDT-1d
len out_put: 1287
Dirtetorio: XMRUSDT-1m
len out_put: 436693
Dirtetorio: XMRUSDT-2h
len out_put: 12028
Dirtetorio: XMRUSDT-5m
len out_put: 192188
Dirtetorio: XRPUSDT-1d
len out_put: 1553
Dirtetorio: XRPUSDT-1m
len out_put: 480961
Dirtetorio: XRPUSDT-2h
len out_put: 12028
Dirtetorio: XRPUSDT-5m
len out_put: 192188
Dirtetorio: ZECUSDT-1d
len out_put: 1291
Dirtetorio: ZECUSDT-1m
len out_put: 322228
Dirtetorio: ZECUSDT-2h
Erro ao processar o arquivo ZECUSDT-2h-2020-11.csv: 'utf-8' codec can't decode byte 0xd3 in position 12: invalid continuation byte
len out_put: 1
Dirtetorio: ZECUSDT-5m
len out_put: 1

In [17]:
def generating_bronze_df():
    dir_list = os.listdir( "data" )
    _header = [ "Open_time",
              "Open",
              "High",
              "Low", 
              "Close",
              "Volume",
              "Close_time",
              "Quote_asset_volume",
              "Number_of_trades",
              "Taker_buy_base_asset_volume",
              "Taker_buy_quote_asset_volume",
              "Ignore"
             ]

    for _dir in dir_list:
        file_list = os.listdir( f"data/{_dir}" )
        for file in file_list:
            if 'data' in file:
                try:
                    df = pd.read_csv( f"data/{_dir}/{file}", header = None )
                    df.columns = _header
                    
                    if not os.path.exists( "data/bronze" ):
                        os.mkdir( "data/bronze" )
                                 
                    with open ( f"data/bronze/{_dir}.csv", "w" ) as csv_file:
                        df.to_csv( csv_file, index = False )
                except:
                    pass

generating_bronze_df()

/tmp/ipykernel_7870/1553357482.py:22: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv( f"data/{_dir}/{file}", header = None )

In [18]:
df = pd.read_csv( "data/XMRUSDT-1m/data_set.csv" )
df.head()

,1651363200000,214.10000000,214.40000000,214.10000000.1,214.10000000.2,65.32000000,1651363259999,13995.61460000,55,30.94200000,6631.32690000,0
0,1.651363e+12,214.1,214.2,214.0,214.1,29.060,1651363319999,6220.9202,22,7.086,1517.0154,0
1,1.651363e+12,214.2,214.4,213.9,214.3,141.158,1651363379999,30243.0044,60,74.066,15869.8707,0
2,1.651363e+12,214.2,214.7,214.1,214.7,93.517,1651363439999,20051.7221,69,60.108,12892.8261,0
3,1.651363e+12,214.7,214.8,214.4,214.7,62.430,1651363499999,13403.0000,71,15.347,3295.8263,0
4,1.651364e+12,214.7,214.7,214.2,214.4,143.477,1651363559999,30765.6265,73,57.819,12393.5644,0

In [19]:
df = pd.read_csv( "data/bronze/XMRUSDT-1m.csv" )
df.head()

,Open_time,Open,High,Low,Close,Volume,Close_time,Quote_asset_volume,Number_of_trades,Taker_buy_base_asset_volume,Taker_buy_quote_asset_volume,Ignore
0,1.651363e+12,214.1,214.4,214.1,214.1,65.320,1651363259999,13995.6146,55,30.942,6631.3269,0
1,1.651363e+12,214.1,214.2,214.0,214.1,29.060,1651363319999,6220.9202,22,7.086,1517.0154,0
2,1.651363e+12,214.2,214.4,213.9,214.3,141.158,1651363379999,30243.0044,60,74.066,15869.8707,0
3,1.651363e+12,214.2,214.7,214.1,214.7,93.517,1651363439999,20051.7221,69,60.108,12892.8261,0
4,1.651363e+12,214.7,214.8,214.4,214.7,62.430,1651363499999,13403.0000,71,15.347,3295.8263,0